{{#each characters as |character|}}
  {{log character}}
  <section data-id="{{character.id}}">
    <h6>Character Information:</h6>
    <h3>
      <!-- {{limit character.alias 15}} -->
    </h3>
    <h6>Alias:</h6>
    <p>
      {{#if character.alias}}
        {{character.alias}}
      {{else}}
        No alias provided.
      {{/if}}
    </p>
    <h6>Real Name:</h6>
    <p>
      {{#if character.real_name}}
        {{character.real_name}}
      {{else}}
        No real name provided.
      {{/if}}
    </p>
    <h6>Superpower:</h6>
    <p>
      {{#if character.super_power}}
        {{character.super_power}}
      {{else}}
        No superpower provided.
      {{/if}}
      <h6>Place of Origin:</h6>
      <p>
        {{#if character.place_of_origin}}
          {{character.place_of_origin}}
        {{else}}
          No origin provided.
        {{/if}}
      </p>
      <p> Character ID:
        {{#if character.id}}
          {{character.id}}
        {{else}}
          No data provided.
        {{/if}}
      </p>
    </p>
    {{> remove-character id=character.id}}
  </section>

{{/each}}
